{% extends "main/base.html" %}

{% block title %}
    loginPage 
{% endblock %}

{% block body %}
<h1>Login Page</h1>
<form method="POST" action="">
    {% csrf_token %}
    
   <input type="text" name="username">
   <input type="password" name="password">
   <button type="submit">Login</button>
   {% for message in messages %}
     <p>{{message}}</p> 
   {%endfor %}
    {{form.errors}}
    </form>
{% endblock %}

<!-- 

{% block title %}
    register 
{% endblock %}

{% block body %}
    <h1>Register</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for inp in form %}
            {{inp.label_tag}}
            {{inp}}
        {%endfor%}
    <button type="submit" value="register now" class="btn">Register</button>
    {{form.errors}}
    </form>
{% endblock %} -->